@charset "UTF-8";
@font-face {
    font-family: Juree;
    src: url(fonts/Bai_Jamjuree/BaiJamjuree-Light.ttf);
}
body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Juree';
    color: hsl(210, 10%, 33%);
}
header{
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    background-position: center;
}
header > p{
    margin-bottom: 50px;
}
p{
    color: hsl(201, 11%, 66%);
}
.logo{
    margin-top: 120px;
    width: 10%;
}
a{
    text-decoration: none;
    color: white;
}
.Agreen{
    background-color: hsl(171, 66%, 44%);
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px hsla(171, 66%, 31%, 0.767);
    
    
}
.Agreen:hover{
    background-color: hsla(171, 63%, 30%, 0.589);
}
.Ablue{
    background-color: hsla(233, 100%, 69%, 0.795);
    padding: 10px 25px;
    border-radius: 30px;
    
    
}
.Ablue:hover{
    background-color: hsla(233, 47%, 55%, 0.795);
}
.Bdownload{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.snippets{
    display: flex;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.snippets > img{
    width: 50%;
    margin-left: 0px;
    margin-right: 100px;
    
}
.topics{
    text-align: justify;
    margin-top: 50px;
   
}
.device{
    width: 70%;
}
.icons{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    margin-bottom: 100px;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}
footer{
    display: flex;
}
@media (max-width: 600px){
   main{
    padding: 20px;
   }
    .Bdownload{
    flex-direction: column;
   }
   .snippets{
    flex-direction: column;
    
   }
   .snippets > img{
    margin: auto;
   }
   .topics{
    text-align: center;
   }
   .icons{
    flex-direction: column;
   }
   .logos{
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-bottom: 250px;
   }
}